<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="language" content="en" />
<meta name="author" content="Nils Wloka" />
<title>nilswloka.com - {{ page.title }}</title>{% if page.description %}
<meta name="description" content="{{ page.description }}"/>{% endif %}{% if page.robots %}
<meta name="robots" content="{{ page.robots }}"/>{% endif %}{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}" />{% endif %}
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/pygments.css" rel="stylesheet" type="text/css" />
<link rel="canonical" href="https://www.nilswloka.com{{ page.url }}"/>
</head>
<body>
  <div id="container">
    <a id="ribbon" href="https://github.com/nilswloka"><img style="border: 0;" src="/images/fork.png" alt="Fork me on GitHub" /></a>    <div id="header">
      <h1>nilswloka.com</h1>
      <p>A weblog about agile software development, coaching and strange ideas...</p>
    </div>
    <div id="navigation"> 
      <ul id="navlist">
        <li><a class="navitem" href="/">Home</a></li>
        <li><a class="navitem" href="/about">About Me</a></li>
        <li><a class="navitem" href="/publications">Publications</a></li>
        <li><a class="navitem" href="/archives">Archives</a></li>
        <li><p><a href="https://www.twitter.com/nilswloka">Follow me on Twitter</a></p></li>
        <li><p><a title="View Nils Wloka's profile on slideshare" href="https://www.slideshare.net/springify" >My profile at SlideShare</a></p></li>
      </ul>
    </div>
    <div id="sidebar">
      <h2>Blogroll</h2>
      <p><a href="http://gojko.net">Gojko Adzic</a><br/><a href="http://nakkaya.com/">Nurullah Akkaya</a><br/><a href="http://www.agilemanagement.net/index.php/blog/">David J. Anderson</a><br/><a href="http://agilecoach.typepad.com/">Rachel Davies</a><br/><a href="http://blog.fogus.me/">Michael Fogus</a><br/><a href="http://debasishg.blogspot.com/">Debasish Ghosh</a><br/><a href="http://sethgodin.typepad.com/seths_blog/">Seth Godin</a><br/><a href="http://technomancy.us/">Phil Hagelberg</a><br/><a href="http://hhgttg.de/blog/">Olaf Lewitz</a></br/><a href="http://cleancoder.posterous.com/">Robert C. Martin</a><br/><a href="http://www.danpink.com/">Daniel Pink</a><br/><a href="http://www.presentationzen.com/">Garr Reynolds</a><br/></p>
      <h2>Friends &amp; Colleagues</h2>
      <p><a href="http://www.biskup.net/blog/">Thomas Biskup</a><br/><a href="http://www.stefanglase.de/">Stefan Glase</a><br/><a href="http://microino.de/">Sascha Hanke</a><br/><a href="http://beezleblog.blogspot.com/">Stefan Scheidt</a><br/><a href="http://www.herr-norbert.de/">Norbert Schneider</a><br/><a href="http://rolandschneider.blogspot.com/">Roland Schneider</a><br/><a href="http://talk2gerd.blogspot.com/">Gerd Volberg</a><br/><a href="http://torstenwinterberg.blogspot.com/">Torsten Winterberg</a></p>
      <h2>Things I Like</h2>
      <p><a href="http://clojure.org/">Clojure</a><br/><a href="http://concordion.org/">Concordion</a><br/><a href="http://www.gnu.org/software/emacs/">GNU Emacs</a><br/><a href="http://www.infoq.com/">infoq</a><br/><a href="http://www.jetbrains.com/idea/">IntelliJ IDEA</a><br/><a href="http://www.springsource.org/">Spring Framework</a><br/><a href="http://xkcd.com/">xkcd</a></p>
    </div>
    <div id="content">
      {{ content }}
    </div>
    <div id="footer"> 
      <p>Copyright &copy; Nils Wloka | Based on a design by <a href="http://smallpark.org">SmallPark</a> |  Hosted by <a href="https://www.webhostone.de/">WebhostOne</a> | <a href="/privacy">Privacy Policy</a> | <a href="/legal">Legal Notice</a> | Baked with <a href="https://github.com/mojombo/jekyll">Jekyll</a><br/>
      <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" property="dc:title" rel="dc:type">nilswloka.com weblog</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.nilswloka.com" property="cc:attributionName" rel="cc:attributionURL">Nils Wloka</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/de/">Creative Commons Attribution-Share Alike 2.0 Germany License</a> </p>
    </div>
  </div>
</body>
</html>
